[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.panel-default .panel-heading {
	background: #f7f9fa;
	border-bottom: 1px solid #e4e5e7;
}
body {
	background: #edf0f5;
	color: #6a6c6f;
}

body.index {
	padding-top: 110px;
	padding-bottom:70px;
}

body.indexcms {
	padding-top: 70px;
}

body.index nav.navbar{
	background: white;

	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
}

.modal-header {
	border-bottom: none;
}
.modal-footer {
	border-top: none;
}

#editor {
	overflow:scroll; 
	max-height:300px
}

.navbar-right {
	padding-top: 5px;
}

.pagination {
	margin-top: 5px;
}

.myhealthcontainer .panel-default {
	border-top: none;
}

@media(min-width:768px) {
	body.index .navbar-nav li a {
		padding-top: 8px;
		padding-bottom: 5px;
	}
		.navbar-nav li h1 {
			line-height: 0.8em;
			margin-top: 0px;
			margin-bottom: 2px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
		}

		.navbar-shrink h1 {
			font-size: 2.2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
		}

		.navbar-right li a {
			padding: 8px 15px;
		}
    body.index nav.navbar-fixed-top {
        padding: 0;
        -webkit-transition: all .9s;
        -moz-transition: all .9s;
        transition: all .9s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 1.6em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

		.navbar-shrink li a {
			padding-bottom: 0px;
			font-size: 11px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
		}

    .navbar-fixed-top.navbar-shrink .navbar-brand {
			font-size: 1.2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
		.navbar-right li a{
			font-size: 12px;
		}
}
@media(max-width:767px){

	body.index {
		padding-top: 60px;
		padding-bottom:60px;
	}

	.navbar-nav li h1 {
		font-size: 1.6em;
		line-height: 0.8em;
		margin-top: 0px;
		margin-bottom: 2px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	}

	body.index .nav li {
		float:left;
	}
	body.index .nav li a {
		  padding: 3px 13px;
	}

	.nav {
		padding-left:12px;
	}

}
